@import '../../../assets/sass/variables';
@import '../../../assets/sass/functions';
input[disabled],select[disabled]{
    border: none;
    background: transparent;
}
.bg{
    @extend %bg ;
}
.w-99{
    width: 99%
}