// VARIABLES

// ================vendors================

$vendors: "-moz-", "-webkit-", "-o-", "-ms-", ""; 

//=================FONTCOLORS==============

$fontcolor : #737373;
$iconsColor:#4b4b4b;
$dashColor : #302d43;
// $textFont:#737373

//================MAINCOLORS===============
// $mainColor:#991D1D;
$secondaryColor:#2DC2D6;
$mainColor:#014181;
$footerBgColor:#161616;
$bgColor:#f8f8f8;

//==============FONT FAMILY================
// @font-face {
//     font-family: RalewayBoldFont;
//     src: url(../fonts/Raleway-Bold.ttf) format("opentype");
// }
// @font-face {
//     font-family: RalewayFont;
//     src: url(../fonts/Raleway-Light.ttf) ;
// }
// $RalewayBoldFont: 'Raleway-Bold.ttf';
$RalewayBoldFont: 'open sans';
$RalewayFont:  'open sans';

// $segoeuiFont:  'segoeui.ttf';
// $RalewayFont:  'Raleway-Light.ttf';


//=============images paths================
$recentpro1:'../images/HOME/recentproj1.jpg';
$recentpro2:'../images/HOME/recentproj2.jpg';


